.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

button {
  display: block;
  min-width: 150px;
  min-height: 40px;
  font-size: 1.6rem;
  margin: 40px auto;
  font-family: 'Indie Flower', cursive;


  font-weight: 800;
  background-color: #4ECCA3;
  box-shadow: 3px 2px 1px #232931;
  color: #393E46;
  border-radius: 10px;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}